x
<div class="sign section--bg" data-bg=<%= asset_path "img/section/section.jpg" %> > 
	<div class="container">
		<div class="row">
		
			<div class="col-12">
				<div class="sign__content">
					

					<!-- authorization form -->
			
					<!--<form action="#" class="sign__form">-->
						<%= form_with model:@user , url: signup_path do |f|  %>
						

						<a href="user" class="sign__logo">
							<img src=<%= asset_path "icon/MovieClub-White.png" %> alt="">
						</a>
				
						<div class="sign__group">
								<!--<input type="text" class="sign__input" placeholder="Email">-->
								<%= f.text_field :name, :class=> "sign__input", :placeholder=> "Username" %>
						
						</div>
			  
						<div class="sign__group">
								<!--<input type="password" class="sign__input" placeholder="Password">-->
								<%= f.text_field :email, :class=> "sign__input", :placeholder=> "Email" %>
							
						</div>
						<div class="sign__group">
								<!--<input type="password" class="sign__input" placeholder="Password">-->
								<%= f.password_field :password, :class=> "sign__input", :placeholder=> "Password" %>
							
						</div>



						<div class="sign__group sign__group--checkbox">
							<input id="remember" name="remember" type="checkbox" checked="checked">

						
							<label for="remember">Remember Me</label>
						</div>
						
					<!--	<button  type="button" class= "sign__btn">Sign in</button>-->

						<!--<span class="sign__text">Don't have an account? -->

					<!--	<a href="signup.html">Sign up!</a></span>-->

						<!--<span class="sign__text"><a href="#">Forgot password?</a></span>-->
					<!--</form>-->
					<!-- end authorization form -->
					<%= f.submit %>
				<% end %>
				</div>
			</div>
		
		</div>
	</div>
</div>

