<!-- header -->
<header class="header">
	<div class="header__wrap">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="header__content">
						<!-- header logo -->
						<a href="/home" class="header__logo">
							<img src=<%= asset_path "icon/MovieClub-White.png" %> alt="">
						</a>
						<!-- end header logo -->

						<!-- header nav -->
						<ul class="header__nav">
							<!-- dropdown -->
							<li class="header__nav-item">
								<a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuHome" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>

							<!--	<ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuHome">
									
									<li><a href="home/index">Home static bg</a></li><!--<li><a href="index.html">Home slideshow bg</a></li>-->
									<!--<li><a href="home/index2">Home static bg</a></li>
								</ul>-->
							</li>
							<!-- end dropdown -->

							<!-- dropdown -->
							<li class="header__nav-item">
								<a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuCatalog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Movie</a>

								<ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuCatalog">
									<li><a href="animation.html">Animation </a></li>
									<li><a href="hindi.html">Hindi</a></li>
									<li><a href="english.html">English</a></li>
									<li><a href="romantic.html">Romantic</a></li>
									<li><a href="sports.html">Sports</a></li>
									

								</ul>
							</li>
							<!-- end dropdown -->

						<!--	<li class="header__nav-item">
								<a href="pricing.html" class="header__nav-link">Top Rated Movie</a>
							</li>-->

							<li class="header__nav-item">
								<a href="pricing.html" class="header__nav-link">pricing plan</a>
							</li>

						<!--	<li class="header__nav-item">
								<a href="user/signin.html" class="header__nav-link">Login</a>
							</li>-->
							<li class="header__nav-item">
								<a href="contact.html" class="header__nav-link">Contact</a>
							</li>
							
							

							<!-- dropdown -->
							<li class="dropdown header__nav-item">
								<a class="dropdown-toggle header__nav-link header__nav-link--more" href="#" role="button" id="dropdownMenuMore" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								   <!--<i class="icon ion-ios-more"></i>-->
								   <img src=<%= asset_path "icon/icons8-more-24.png" %> alt="">
								</a>

								<ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuMore">
									<li><a href="about.html">About</a></li>
									
									<li><a href="signup.html">Sign Up</a></li>
									<!--<li><a href="404.html">404 Page</a></li>-->
								</ul>
							</li>
							<!-- end dropdown -->
						</ul>
						<!-- end header nav -->

						<!-- header auth -->
						<div class="header__auth">
							<button class="header__search-btn" type="button">
								<!--<i class="icon ion-ios-search"></i>-->
								<img src=<%= asset_path "icon/icons8-search-30.png" %> alt="">
							</button>
							
						
						<a href="signin.html" class="header__sign-in">
								<i class="icon ion-ios-log-in"></i>
								<span>sign in</span>
							</a>
						</div>
						<!-- end header auth -->

						<!-- header menu btn -->
						<button class="header__btn" type="button">
							<span></span>
							<span></span>
							<span></span>
						</button>
						<!-- end header menu btn -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- header search -->
	<form action="#" class="header__search">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="header__search-content">
						<input type="text" placeholder="Search for a movie that you are looking for">

						<button type="button">search</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<!-- end header search -->
</header>
<!-- end header -->

<!-- content -->
<section class="content">
	<div class="content__head">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- content title -->
					<h2 class="content__title">New items</h2>
					<!-- end content title -->

					<!-- content tabs nav -->
					<ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">MOVIES</a>
						</li>
					</ul>
					<!-- end content tabs nav -->

					<!-- content mobile tabs nav -->
					<div class="content__mobile-tabs" id="content__mobile-tabs">
						<div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<input type="button" value="New items">
							<span></span>
						</div>

						<div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
							<ul class="nav nav-tabs" role="tablist">
								<li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">NEW RELEASES</a></li>

								<li class="nav-item"><a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">MOVIES</a></li>

								<li class="nav-item"><a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">TV SERIES</a></li>

								<li class="nav-item"><a class="nav-link" id="4-tab" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4" aria-selected="false">CARTOONS</a></li>
							</ul>
						</div>
					</div>
					<!-- end content mobile tabs nav -->
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<!-- content tabs -->
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
				<div class="row">
				</div>
			</div>

			<div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
				<div class="row">
					<!-- card -->
					<% @movies.each do |m| %>
					<div class="col-6 col-sm-4 col-lg-3 col-xl-2">

						<div class="card">
							<div class="card__cover">
								<img src=<%= m.movieimage %> alt="">
								<a href="#" class="card__play">
									<!--<img src=<%= asset_path "icon/icons8-play-96.png" %> alt="">-->
									<img src=<%= asset_path "icon/icons8-play-96.png" %> alt="">

								</a>
							</div>
							<div class="card__content">
								<h3 class="card__title"><a href="#"><%= m.moviename %></a></h3>
								<span class="card__category">
									<a href="#"><%= m.category %></a>
									<a href="#"><%= m.yearofrelease %></a>
								</span>
								<span class="card__rate">
								<!--<i class="icon ion-ios-star"></i>-->
									<img src=<%= asset_path "icon/icons8-star-filled-24.png" %> alt="">
									<%= m.rating %></span>
							</div>
						</div>


					</div>
					<!-- end card -->
					<% end %>
					
				</div>


				<!-- paginator -->
				<div class="col-12">
					<ul class="paginator">
					<li class="paginator__item paginator__item--prev">
						<a href="#"><img src=<%= asset_path "icon/icons8-back-24.png" %> alt=""></a>
					</li>
					<li class="paginator__item"><a href="#">1</a></li>
					<li class="paginator__item paginator__item--active"><a href="#">2</a></li>
					<li class="paginator__item"><a href="#">3</a></li>
					<li class="paginator__item"><a href="#">4</a></li>
					<li class="paginator__item paginator__item--next">
						<a href="#"><img src=<%= asset_path "icon/icons8-forward-24.png" %> alt=""></a>
					</li>
					</ul>
				</div>
				<!-- end paginator -->




			</div>
		</div>
		<!-- end content tabs -->
	</div>
</section>
<!-- end content -->




