<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" href=<%= asset_path "css/bootstrap-reboot.min.css" %> >
	<link rel="stylesheet" href=<%= asset_path "css/bootstrap-grid.min.css" %> >
	<link rel="stylesheet" href=<%= asset_path "css/owl.carousel.min.css" %> >
	<link rel="stylesheet" href=<%= asset_path "css/jquery.mCustomScrollbar.min.css" %> >
	<link rel="stylesheet" href=<%= asset_path "css/nouislider.min.css" %> >
	<link rel="stylesheet" href=<%= asset_path "css/ionicons.min.css" %> >
	<link rel="stylesheet" href=<%= asset_path "css/plyr.css" %> >
	<link rel="stylesheet" href=<%= asset_path "css/photoswipe.css" %> >
	<link rel="stylesheet" href=<%= asset_path "css/default-skin.css" %> >
	<link rel="stylesheet" href=<%= asset_path "css/main.css" %> >

	<!-- Favicons -->
	<link rel="icon" type="image/png" href=<%= asset_path "icon/MovieClub-White.png" %> sizes="32x32">
	<link rel="apple-touch-icon" href=<%= asset_path "icon/MovieClub-White.png" %>  sizes="32x32" >
	<link rel="apple-touch-icon" sizes="72x72" href=<%= asset_path "icon/apple-touch-icon-72x72.png" %> >
	<link rel="apple-touch-icon" sizes="114x114" href=<%= asset_path "icon/apple-touch-icon-114x114.png" %> >
	<link rel="apple-touch-icon" sizes="144x144" href=<%= asset_path "icon/apple-touch-icon-144x144.png" %> >

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>MovieClub</title>

</head>

<body class="body">
  <div class="container">
    <br>
    <% flash.each do |key, message| %>
      <p class="alert alert-<%= key %>"><%= message %></p>
    <% end %>
  </div>
  
<%= yield %>




<!-- footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- footer list -->
    <!--  <div class="col-12 col-md-3">
        <h6 class="footer__title">Download Our App</h6>
        <ul class="footer__app">
          <li><a href="#"><img src=<%= asset_path "img/Download_on_the_App_Store_Badge.svg" %> alt=""></a></li>
          <li><a href="#"><img src=<%= asset_path "img/google-play-badge.png" %> alt=""></a></li>
        </ul>
      </div>
      <!-- end footer list -->

      <!-- footer list -->
    <!-- <div class="col-6 col-sm-4 col-md-3">
        <h6 class="footer__title">Resources</h6>
        <ul class="footer__list">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Pricing Plan</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>
      <!-- end footer list -->

      <!-- footer list -->
     <!-- <div class="col-6 col-sm-4 col-md-3">
        <h6 class="footer__title">Legal</h6>
        <ul class="footer__list">
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Security</a></li>
        </ul>
      </div>
      <!-- end footer list -->




      <!-- footer list -->
    <div class="col-12 col-sm-4 col-md-3">
        <h6 class="footer__title" >Contact</h6>
        <ul class="footer__list">
          <li><a href="tel:+18002345678">+1 (800) 234-54587</a></li>
          <li><a href="mailto:support@moviego.com">xyz@abc.com</a></li>
        </ul>
        <ul class="details__share-list">
          <li class="facebook"><a href="#"><img src=<%= asset_path "icon/icons8-facebook-48.png" %> alt=""></i></a></li>
          <li class="instagram"><a href="#"><img src=<%= asset_path "icon/icons8-instagram-48.png" %> alt=""></i></a></li>
          <li class="twitter"><a href="#"><img src=<%= asset_path "icon/icons8-twitter-30.png" %> alt=""></i></a></li>
          
        </ul>
      </div>
      <!-- end footer list -->

      <!-- footer copyright -->
   <!--  <div class="col-12">
        <div class="footer__copyright">
          <small><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></small>

          <ul>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>--> 
      <!-- end footer copyright -->
 <!-- </div>
  </div>
</footer>--> 
<!-- end footer -->

<!-- JS -->
<%= javascript_include_tag "jquery-3.3.1.min.js" %>
<%= javascript_include_tag "bootstrap.bundle.min.js" %>
<%= javascript_include_tag "owl.carousel.min.js" %>

<%= javascript_include_tag "jquery.mousewheel.min.js" %>
<%= javascript_include_tag "jquery.mCustomScrollbar.min.js" %>
<%= javascript_include_tag "wNumb.js" %>

<%= javascript_include_tag "nouislider.min.js" %>
<%= javascript_include_tag "plyr.min.js" %>
<%= javascript_include_tag "jquery.morelines.min.js" %>

<%= javascript_include_tag "photoswipe.min.js" %>
<%= javascript_include_tag "photoswipe-ui-default.min.js" %>
<%= javascript_include_tag "main.js" %>


</body>
</html>
